<div class="container mt-5">
<h2>Add movie to list <b><%= @list.name %></b></h2>

<%= simple_form_for([@list, @bookmark]) do |f| %>
    <%= f.association :movie %>
    <%= f.input :comment %>
    <%= f.submit "Save", class: "btn my-button" %>
<% end %>
</div>
